@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'BaiJamjuree-Bold';
  src: url('../public/fonts/BaiJamjuree/BaiJamjuree-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'BaiJamjuree-BoldItalic';
  src: url('../public/fonts/BaiJamjuree/BaiJamjuree-BoldItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'BaiJamjuree-ExtraLight';
  src: url('../public/fonts/BaiJamjuree/BaiJamjuree-ExtraLight.ttf') format('truetype');
}
@font-face {
  font-family: 'BaiJamjuree-ExtraLightItalic';
  src: url('../public/fonts/BaiJamjuree/BaiJamjuree-ExtraLightItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'BaiJamjuree-Italic';
  src: url('../public/fonts/BaiJamjuree/BaiJamjuree-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'BaiJamjuree-Light';
  src: url('../public/fonts/BaiJamjuree/BaiJamjuree-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'BaiJamjuree-LightItalic';
  src: url('../public/fonts/BaiJamjuree/BaiJamjuree-LightItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'BaiJamjuree-Medium';
  src: url('../public/fonts/BaiJamjuree/BaiJamjuree-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'BaiJamjuree-MediumItalic';
  src: url('../public/fonts/BaiJamjuree/BaiJamjuree-MediumItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'BaiJamjuree-Regular';
  src: url('../public/fonts/BaiJamjuree/BaiJamjuree-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'BaiJamjuree-SemiBold';
  src: url('../public/fonts/BaiJamjuree/BaiJamjuree-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'BaiJamjuree-SemiBoldItalic';
  src: url('../public/fonts/BaiJamjuree/BaiJamjuree-SemiBoldItalic.ttf') format('truetype');
}

.baijam-bold {
  font-family: 'BaiJamjuree-Bold';
}

.baijam-bold-italic {
  font-family: 'BaiJamjuree-BoldItalic';
}

.baijam-extra-light {
  font-family: 'BaiJamjuree-ExtraLight';
}

.baijam-extra-light-italic {
  font-family: 'BaiJamjuree-ExtraLightItalic';
}

.baijam-italic {
  font-family: 'BaiJamjuree-Italic';
}

.baijam-light {
  font-family: 'BaiJamjuree-Light';
}

.baijam-light-italic {
  font-family: 'BaiJamjuree-Italic';
}

.baijam-medium {
  font-family: 'BaiJamjuree-Medium';
}

.baijam-medium-italic {
  font-family: 'BaiJamjuree-MediumItalic';
}

.baijam-regular {
  font-family: 'BaiJamjuree-Regular';
}

.baijam-semi-bold {
  font-family: 'BaiJamjuree-SemiBold';
}

.baijam-semi-bold-italic {
  font-family: 'BaiJamjuree-SemiBoldItalic';
}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: 'BaiJamjuree-Regular', sans-serif;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
