@tailwind base;
@tailwind components;
@tailwind utilities;

/* Extra small devices (phones, 640px and down) */
@media only screen and (max-width: 640px) {
  #navbar {
    justify-content: center;
  }
  #table {
    font-size: small;
  }
  #results-container {
    width: 90%;
  }
  #github-logo {
    width: 1.5rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {
  #navbar {
    justify-content: end;
  }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #navbar {
    justify-content: end;
  }  
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #navbar {
    justify-content: end;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #navbar {
    justify-content: end;
  }
}




:root {
  --fixed-height: 0px;
}

#navbar {
  /* From https://css.glass */
  background: rgba(0, 0, 0, 0.178);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(7.4px);
  -webkit-backdrop-filter: blur(7.4px);
  border: 1px solid rgba(0, 0, 0, 0.582);
}

.pt-var-fixed-height {
  margin-top: var(--fixed-height);
}

.table-fixed {
  table-layout: fixed;
  width: 100%;
}

.table-fixed th,
.table-fixed td {
  overflow: hidden;
  text-overflow: ellipsis;
}

.col-acronym {
  width: 30%;
}

.col-fullname {
  width: 70%;
}

hr {
  background: linear-gradient(to right, rgb(95, 95, 95), rgb(51, 51, 51));
  height: 1px;
  border: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.75s ease-in-out;
}

@font-face {
  font-family: 'BaiJamjuree-Bold';
  src: url('../public/fonts/BaiJamjuree/BaiJamjuree-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'BaiJamjuree-BoldItalic';
  src: url('../public/fonts/BaiJamjuree/BaiJamjuree-BoldItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'BaiJamjuree-ExtraLight';
  src: url('../public/fonts/BaiJamjuree/BaiJamjuree-ExtraLight.ttf') format('truetype');
}
@font-face {
  font-family: 'BaiJamjuree-ExtraLightItalic';
  src: url('../public/fonts/BaiJamjuree/BaiJamjuree-ExtraLightItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'BaiJamjuree-Italic';
  src: url('../public/fonts/BaiJamjuree/BaiJamjuree-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'BaiJamjuree-Light';
  src: url('../public/fonts/BaiJamjuree/BaiJamjuree-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'BaiJamjuree-LightItalic';
  src: url('../public/fonts/BaiJamjuree/BaiJamjuree-LightItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'BaiJamjuree-Medium';
  src: url('../public/fonts/BaiJamjuree/BaiJamjuree-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'BaiJamjuree-MediumItalic';
  src: url('../public/fonts/BaiJamjuree/BaiJamjuree-MediumItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'BaiJamjuree-Regular';
  src: url('../public/fonts/BaiJamjuree/BaiJamjuree-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'BaiJamjuree-SemiBold';
  src: url('../public/fonts/BaiJamjuree/BaiJamjuree-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'BaiJamjuree-SemiBoldItalic';
  src: url('../public/fonts/BaiJamjuree/BaiJamjuree-SemiBoldItalic.ttf') format('truetype');
}

.baijam-bold {
  font-family: 'BaiJamjuree-Bold';
}

.baijam-bold-italic {
  font-family: 'BaiJamjuree-BoldItalic';
}

.baijam-extra-light {
  font-family: 'BaiJamjuree-ExtraLight';
}

.baijam-extra-light-italic {
  font-family: 'BaiJamjuree-ExtraLightItalic';
}

.baijam-italic {
  font-family: 'BaiJamjuree-Italic';
}

.baijam-light {
  font-family: 'BaiJamjuree-Light';
}

.baijam-light-italic {
  font-family: 'BaiJamjuree-Italic';
}

.baijam-medium {
  font-family: 'BaiJamjuree-Medium';
}

.baijam-medium-italic {
  font-family: 'BaiJamjuree-MediumItalic';
}

.baijam-regular {
  font-family: 'BaiJamjuree-Regular';
}

.baijam-semi-bold {
  font-family: 'BaiJamjuree-SemiBold';
}

.baijam-semi-bold-italic {
  font-family: 'BaiJamjuree-SemiBoldItalic';
}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: 'BaiJamjuree-Regular', sans-serif;
  color: rgb(var(--foreground-rgb));
  user-select: none;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.container {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.container::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
